* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(165, 164, 162);
}

.todo {
    background-color: white;
    border: 3px solid gray;
    padding: 15px 10px;
    width: auto;
}

.todo h1 a, .todo h1 {
    font-size: 22px;
    text-decoration: none;
    color: black;
}

table {
    margin: 15px 0;
}

.td-padding {
    padding-left: 5px;
    padding-right: 7px;
}

table tr td a {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    gap: 10px;
}

tr label {
    display: flex;
    align-items: center;
}

tr a {
    text-decoration: none;
    color: blue;
}

.forms {
    display: flex;
    gap: 15px;
    width: auto;
}

.forms input {
    border: .5px solid gray;
    border-radius: 0;
    padding: 2px 5px;
}

.forms input[type="text"] {
    border-radius: 5px;
    width: 85%
}

.forms button {
    width: 15%;
}

.button-4 {
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}