* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(165, 164, 162);
}

.todo {
    background-color: white;
    border: 3px solid gray;
    padding: 15px 10px;
    width: auto;
}

.todo h1 a, .todo h1 {
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.todo h1 a:hover {
    color: rgb(68, 68, 68);
}

table {
    width: 100%;
    margin: 15px 0;
}

.td-padding {
    padding-left: 5px;
    padding-right: 7px;
}

.tasks {
    display: grid;
    grid-template-columns: repeat(1, auto) 1fr repeat(2, auto);
    gap: 10px;
}

.folders {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    gap: 10px;
}

tr {
  border-bottom: 1px solid grey;
}

tr label {
    display: flex;
    align-items: center;
}

tr a {
    text-decoration: none;
    color: blue;
}

.forms {
    display: flex;
    gap: 15px;
}

.forms input {
    border: .5px solid gray;
    border-radius: 0px;
    padding: 2px 5px;
}

.forms input[type="text"] {
    border-radius: 5px;
    width: 83%
}

.button-4 {
  background-color: #FAFBFC;
  border: .5px solid gray;
  border-radius: 5px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  width: 17%;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}